<div class="flex flex-row" id="messaging-panel">
  <div class="col-4 p-2 overflow-scroll">
    <p-dataView [value]="services$ | async">
      <ng-template let-service pTemplate="listItem">
        <div class="col-12 surface-card shadow-2 border-round mt-3">
          <div
            class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
          >
            <div
              class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
            >
              <div
                class="flex flex-column align-items-center sm:align-items-start gap-3"
              >
                <div class="text-2xl font-bold text-900">
                  {{ service.name }}
                </div>
                <div class="flex align-items-center gap-3">
                  <span class="flex align-items-center gap-2">
                    <i [class]="getIcon(service.contactType)"></i>
                  </span>
                  <p-tag
                    [value]="service.contactType ?? 'Contact'"
                    severity="success"
                  ></p-tag>
                </div>
              </div>
              <button
                (click)="chosenContact = service"
                class="p-button-secondary p-button-rounded"
                icon="pi pi-cog"
                pButton
              ></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
  <div class="col-8 pl-8 pt-4">
    <div class="surface-card p-4 shadow-2 border-round w-full">
      <h2 *ngIf="!chosenContact">Choose a service to see details.</h2>
      <div *ngIf="chosenContact">
        <div class="flex flex-row">
          <p-avatar
            [label]="chosenContact.name[0].toUpperCase()"
            [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
            size="xlarge"
            styleClass="mr-2"
          ></p-avatar>
          <div>
            <div>{{ chosenContact.name }}</div>
            <div>{{ chosenContact.contactType }}</div>
          </div>
        </div>
        <p-tabView>
          <p-tabPanel header="Apartments">
            <p-dataView [value]="chosenContact.apartments">
              <ng-template let-apartment pTemplate="listItem">
                <div class="col-12">
                  <div
                    class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
                  >
                    <img
                      [alt]="apartment.title"
                      [src]="
                        apartment.image ??
                        'https://source.unsplash.com/random/400x300'
                      "
                      class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                    />
                    <div
                      class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
                    >
                      <div
                        class="flex flex-column align-items-center sm:align-items-start gap-3"
                      >
                        <div class="text-2xl font-bold text-900">
                          {{ apartment.title }}
                          <br />
                          <small>{{
                            apartmentStreetToString(apartment)
                          }}</small>
                        </div>
                        <p-rating
                          [(ngModel)]="apartment.rating"
                          [cancel]="false"
                          [readonly]="true"
                        ></p-rating>
                      </div>
                      <div
                        class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
                      >
                        <span class="text-2xl font-semibold">{{
                          "$" + apartment.dailyPrice
                        }}</span>
                        <button
                          class="md:align-self-end mb-2 p-button-rounded"
                          icon="pi pi-cog"
                          pButton
                        ></button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </p-tabPanel>
          <p-tabPanel header="Calendar">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci
              velit, sed quia non numquam eius modi.
            </p>
          </p-tabPanel>
          <p-tabPanel header="Notifications"> </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
