<div class="form-container">
    <div class="surface-card p-4 shadow-7 border-round w-full">
        <div class="text-center mb-5">
            <form [formGroup]="addApartForm">
                <div class="p-grid">
                    <div class="p-col-12">
                        <label class="block text-900 font-medium mb-2" for="dailyPrice">Daily Price:</label>
                        <input
                            [placeholder]="'Daily Price'"
                            class="w-full mb-3"
                            formControlName="dailyPrice"
                            id="dailyPrice"
                            pInputText
                            type="number"
                            [ngClass]="{'error-outline': addApartForm.get('dailyPrice')?.hasError('required') && addApartForm.get('dailyPrice')?.touched}"
                            required
                        />
                    </div>
                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2" for="title">Title:</label>
                      <input
                        [placeholder]="'Title'"
                        class="w-full mb-3"
                        formControlName="title"
                        id="title"
                        pInputText
                        type="text"
                        [ngClass]="{'error-outline': addApartForm.get('title')?.hasError('required') && addApartForm.get('title')?.touched}"
                        required
                      />
                    </div>

                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2" for="country">Country:</label>
                      <input
                        [placeholder]="'Country'"
                        class="w-full mb-3"
                        formControlName="country"
                        id="country"
                        pInputText
                        type="text"
                        [ngClass]="{'error-outline': addApartForm.get('country')?.hasError('required') && addApartForm.get('country')?.touched}"
                        required
                      />
                    </div>

                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2" for="city">City:</label>
                      <input
                        [placeholder]="'City'"
                        class="w-full mb-3"
                        formControlName="city"
                        id="city"
                        pInputText
                        type="text"
                        [ngClass]="{'error-outline': addApartForm.get('city')?.hasError('required') && addApartForm.get('city')?.touched}"
                        required
                      />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="surface-card p-4 shadow-7 border-round w-full">
        <div class="text-center mb-5">
            <form [formGroup]="addApartForm">
                <div class="p-grid">
                    <div class="p-col-12">
                        <label class="block text-900 font-medium mb-2" for="street">Street:</label>
                        <input
                            [placeholder]="'Street'"
                            class="w-full mb-3"
                            formControlName="street"
                            id="street"
                            pInputText
                            type="text"
                            [ngClass]="{'error-outline': addApartForm.get('street')?.hasError('required') && addApartForm.get('street')?.touched}"
                            required
                        />
                    </div>

                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2" for="buildingNumber">Building Number:</label>
                      <input
                        [placeholder]="'Building Number'"
                        class="w-full mb-3"
                        formControlName="buildingNumber"
                        id="buildingNumber"
                        pInputText
                        type="text"
                        [ngClass]="{'error-outline': addApartForm.get('buildingNumber')?.hasError('required') && addApartForm.get('buildingNumber')?.touched}"
                        required
                      />
                    </div>

                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2" for="apartmentNumber">Apartment Number:</label>
                      <input
                        [placeholder]="'Apartment Number'"
                        class="w-full mb-3"
                        formControlName="apartmentNumber"
                        id="apartmentNumber"
                        pInputText
                        type="text"
                        [ngClass]="{'error-outline': addApartForm.get('apartmentNumber')?.hasError('required') && addApartForm.get('apartmentNumber')?.touched}"
                        required
                      />
                    </div>

                </div>
            </form>
            <button
                  class="custom-button"
                  icon="pi pi-check"
                  pButton
                  pRipple
                  type="submit"
                  (click)="addApartment()"
            >Add apartment</button>
        </div>
    </div>
</div>
