<?xml version="1.0" encoding="UTF-8" ?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <name>GitHub Inzynierka2k24 Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/Inzynierka2k24/inzynierka</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github</id>
            <username>mKazmierczak1</username>
<!--            <password>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</password>-->
            <password>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</password>
        </server>
    </servers>
</settings>