<div class="form-container">
    <div class="surface-card p-4 shadow-7 border-round w-full">
        <div class="text-center mb-5">
            <form [formGroup]="addFinanceForm">
                <div class="p-grid">
                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2" for="userId">User ID:</label>
                      <input
                          [placeholder]="'User ID'"
                          class="w-full mb-3"
                          formControlName="userId"
                          id="userId"
                          pInputText
                          type="number"
                          [ngClass]="{'error-outline': addFinanceForm.get('userId')?.hasError('required') && addFinanceForm.get('userId')?.touched}"
                          required
                      />
                    </div>

                    <div class="p-col-12" [ngClass]="{'input-error': addFinanceForm.get('apartmentId')?.hasError('required') && addFinanceForm.get('apartmentId')?.touched}">
                      <label class="block text-900 font-medium mb-2">Apartment Id:</label>
                      <input
                        [placeholder]="'1'"
                        class="w-full mb-3"
                        formControlName="apartmentId"
                        id="apartmentId"
                        pInputText
                        type="number"
                        [ngClass]="{'error-outline': addFinanceForm.get('apartmentId')?.hasError('required') && addFinanceForm.get('apartmentId')?.touched}"
                        required
                      />
                    </div>

                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2">Event Id:</label>
                      <input
                        [placeholder]="'1'"
                        class="w-full mb-3"
                        formControlName="eventId"
                        id="eventId"
                        pInputText
                        type="number"
                        [ngClass]="{'error-outline': addFinanceForm.get('eventId')?.hasError('required') && addFinanceForm.get('eventId')?.touched}"
                        required
                      />
                    </div>

                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2">Event Type:</label>
                      <p-dropdown formControlName="eventType" [options]="eventTypes" optionLabel="name"
                          [ngClass]="{'error-outline': addFinanceForm.get('eventType')?.hasError('required') && addFinanceForm.get('eventType')?.touched}"
                      >Select an Event</p-dropdown>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="surface-card p-4 shadow-7 border-round w-full">
        <div class="text-center mb-5">
            <form [formGroup]="addFinanceForm">
                <div class="p-grid">
                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2">Source:</label>
                      <p-dropdown formControlName="source" [options]="sources" optionLabel="name"
                      [ngClass]="{'error-outline': addFinanceForm.get('source')?.hasError('required') && addFinanceForm.get('source')?.touched}"
                      ></p-dropdown>
                    </div>
                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2">Price:</label>
                      <input
                        [placeholder]="'200'"
                        class="w-full mb-3"
                        formControlName="price"
                        id="price"
                        pInputText
                        type="number"
                        [ngClass]="{'error-outline': addFinanceForm.get('price')?.hasError('required') && addFinanceForm.get('price')?.touched}"
                        required
                      />
                    </div>
                  <div *ngIf="addFinanceForm.get('price')?.hasError('min') && addFinanceForm.get('price')?.touched" style="color: red;">
                    Price must be greater than 0
                  </div>

                    <div class="p-col-12">
                      <label class="block text-900 font-medium mb-2" for="date">Date:</label>
                      <p-calendar [showIcon]="true" formControlName="date"
                                  [ngClass]="{'error-outline': addFinanceForm.get('date')?.hasError('required')
                                  && addFinanceForm.get('date')?.touched}"
                      ></p-calendar>
                    </div>
                     <div class="p-col-12">
                        <label class="block text-900 font-medium mb-2">Details:</label>
                        <input
                            [placeholder]="'Details'"
                            class="w-full mb-3"
                            formControlName="details"
                            id="details"
                            pInputText
                            type="text"
                            [ngClass]="{'error-outline': addFinanceForm.get('details')?.hasError('required') && addFinanceForm.get('details')?.touched}"
                            required
                        />
                    </div>
                </div>
            </form>
            <button
                  class="custom-button"
                  icon="pi pi-check"
                  pButton
                  pRipple
                  type="submit"
                  (click)="addFinance()"
            >Add finance</button>
        </div>
    </div>
</div>
