<div class="surface-card p-4 shadow-7 border-round w-full">
    <h2>Reservations List</h2>
    <p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="reservations">
        <ng-template pTemplate="header">
            <tr>
                <th>Apartment ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
                <th>
                    <p-button (click)="addReservation()" icon="pi pi-plus"></p-button>
                </th>
            </tr>
        </ng-template>
        <ng-template let-reservation pTemplate="body">
            <tr>
                <td>{{ reservation.apartmentId }}</td>
                <td>{{ reservation.startDate | date:'dd-MM-YYYY HH:mm'}}</td>
                <td>{{ reservation.endDate | date:'dd-MM-YYYY HH:mm'}}</td>
                <td>
                    <p-button (click)="editReservation(reservation)" icon="pi pi-file-edit"></p-button>
                </td>
                <td>
                    <p-button (click)="deleteReservation(reservation)" icon="p-button-danger pi pi-trash"></p-button>
                </td>
                <td>
                    <p-button (click)="propagateReservation(reservation)" icon="pi pi-sync"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-messages [(value)]="messages" [closable]="false" [enableService]="false"></p-messages>
