<div style="display: flex; justify-content: space-evenly;">
  <p-card header="Reservation Details" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <div *ngIf="events.length == 0; else tooltip">
      <p class="m-0" >You currently have no reservations</p>
    </div>
    <ng-template #tooltip>
      <p class="m-0" id="tooltip-container"></p>
    </ng-template>
  </p-card>
  <div *ngIf="events.length > 0" style="float: right">
    <full-calendar
      [events]="events"
      (eventClick)="handleEventClick($event)"
      [options]="calendarOptions"
      style="width: 800px; height: 700px; border-radius: 20px;"
    >
      <ng-template #eventContent let-arg>
        <b>{{ arg.event.id }}</b>
        <i>_</i>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  <div>
</div>
