<div style="display: flex; justify-content: center; align-items: flex-start; height: 100vh;">
  <div *ngIf="events.length > 0">
    <full-calendar
      [events] = "events"
      (eventClick)="handleEventClick($event)"
      [options]="calendarOptions"
      style="width: 800px; height: 700px; border-radius: 20px;">
      <ng-template #eventContent let-arg>
        <b>{{arg.event.id}}</b>
        <i>_</i>
        <i>{{arg.event.title}}</i>
      </ng-template>
    </full-calendar>
  </div>
</div>
