<div class="form-container">
  <div class="surface-card p-4 shadow-2 border-round w-full">
    <div>Apartments counter: {{ countApartments$ | async }}</div>
    <table class="p-table">
      <thead>
        <tr>
          <th>Daily Price</th>
          <th>Title</th>
          <th>Country</th>
          <th>City</th>
          <th>Street</th>
          <th>Building Number</th>
          <th>Apartment Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apartment of apartments">
          <td>{{ apartment.dailyPrice }}</td>
          <td>{{ apartment.title }}</td>
          <td>{{ apartment.country }}</td>
          <td>{{ apartment.city }}</td>
          <td>{{ apartment.street }}</td>
          <td>{{ apartment.buildingNumber }}</td>
          <td>{{ apartment.apartmentNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
