<button
  (click)="toggleView()"
  class="flex flex-row mr-4"
  id="user-widget"
  pButton
  pRipple
>
  <div class="flex flex-column justify-content-center">
    <i class="pi pi-user"></i>
  </div>
  <p>
    {{
      isUserLoggedIn
        ? ("USER_WIDGET.INFO_LOGGED_IN" | translate: { username: user.login })
        : ("USER_WIDGET.INFO_NOT_LOGGED_IN" | translate)
    }}
  </p>
  <div class="flex flex-column justify-content-center">
    <i class="pi pi-angle-down"></i>
  </div>
</button>
<ng-container *ngIf="displayContent && isUserLoggedIn">
  <div class="user-widget-content">
    <app-user-card></app-user-card>
  </div>
</ng-container>
<ng-container *ngIf="displayContent && !isUserLoggedIn">
  <div class="user-widget-content">
    <ng-container *ngIf="formToggle">
      <app-register [toggleForm]="toggleForm.bind(this)"></app-register>
    </ng-container>
    <ng-container *ngIf="!formToggle">
      <app-login [toggleForm]="toggleForm.bind(this)"></app-login>
    </ng-container>
  </div>
</ng-container>
