<div class="form-container">
  <div class="surface-card p-4 shadow-5 border-round w-full">
    <div class=" mb-5">
      <form [formGroup]="editFinanceForm">
        <div class="p-grid">
          <!-- Event Dropdown -->
          <div class="p-col-12 mb-3">
            <label class="block text-900 font-medium mb-2 flex justify-content-center">Event:</label>
            <div class="flex justify-content-center">
              <p-dropdown
                formControlName="eventType"
                [options]="eventKeys"
                (onChange)="onEventSelect()"
                [style]="{'width':'300px'}"
                placeholder="Select an Event">
              </p-dropdown>
            </div>
          </div>

          <!-- Source Dropdown -->
          <div class="p-col-12 mb-3">
            <label class="block text-900 font-medium mb-2 flex justify-content-center">Source:</label>
            <div class="flex justify-content-center">
              <p-dropdown
                formControlName="source"
                [options]="eventSources"
                [style]="{'width':'300px'}">
              </p-dropdown>
            </div>
          </div>

          <!-- Apartment Dropdown -->
          <div class="p-col-12 mb-3">
            <label class="block text-900 font-medium mb-2 flex justify-content-center">Apartment:</label>
            <div class="flex justify-content-center">
              <p-dropdown
                formControlName="apartment"
                [options]="apartments"
                [style]="{'width':'300px'}">
              </p-dropdown>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="surface-card p-4 shadow-5 border-round w-full">
    <div class="text-center mb-5">
      <form [formGroup]="editFinanceForm">
        <div class="p-grid">

          <!-- Price -->
          <div class="p-col-12 mb-3">
            <label class="block text-900 font-medium mb-2">Price:</label>
            <input
              [placeholder]="'200'"
              formControlName="price"
              id="price"
              pInputText
              [pTooltip]="getPriceTooltip()"
              type="number"
              [style]="{'width':'300px'}"
              required
            />
          </div>

          <!-- Date calendar -->
          <div class="p-col-12 mb-3">
            <label class="block text-900 font-medium mb-2">Date:</label>
            <p-calendar [showIcon]="true" formControlName="date"
                        [style]="{'width':'300px'}"
            ></p-calendar>
          </div>

          <!-- Details -->
          <div class="p-col-12 mb-3">
            <label class="block text-900 font-medium mb-2">Details:</label>
            <input
              [placeholder]="'Details'"
              formControlName="details"
              [style]="{'width':'300px'}"
              pInputText
              type="text"
              required
            />
          </div>
        </div>
      </form>

      <!-- Update finance button -->
      <button
        class="custom-button mt-1"
        icon="pi pi-check"
        pButton
        pRipple
        type="submit"
        (click)="updateFinance()"
      >Update</button>
    </div>
  </div>
</div>
